.main {
  width: 1000px;
  margin:0;
  display: block;
}
.movieBox {
  display: flex;
  margin-right:10px;
  width:450px;
  border-style:solid;
  border-color: #000;
  border-width: 2px;
}
.backdropPic {
  margin-left:20px;
  display: inline-block;
  width:185px;
  height:278px;
  overflow: hidden;
}
.movieTitle {
  display: block;
  font-family:Verdana, sans-serif;
  font-size: 14px;
}
.movieOverview {
  word-wrap: break-word;
  white-space: normal;
  color: #4d4d4d;
  font-size: 0.9em;
  line-height: 1.2em;
  margin-top: 30px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.info {
  width: 298px;
  height: 278px;
  position: relative;
  box-sizing: border-box;
  padding: 10px 16px 16px 16px;
  overflow-y: scroll;
}