@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }
}

@font-face {
    font-family: 'DarkCrystalScript';
    src: url('../../public/assets/fonts/DarkCrystalScript.ttf');
    src: url('../../public/assets/fonts/DarkCrystalScript.ttf?#iefix') format('embedded-opentype'),
    url('../../public/assets/fonts/DarkCrystalScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.chat-container {
    width: 80%;
    margin: 10px auto;
}

.chatbox {
    font-family: Helvetica, serif;
    width: 100%;
    height: 20em;
    margin-top: 6px;
    overflow: scroll;
}

.userlabel {
    margin-right: 8px;
    margin-top: 6px;
}

.roomlabel {
    margin-right: 8px;
    margin-top: 6px;
}

#getting_started {
    /*background-color:;*/
}

.brandP {
    padding-top: 20px;
}

.padding-20 {
    padding: 20px;
}
