
.Navbar-standard {
}
.Navbar-tablet {

}

/* Portrait and Landscape */


/*@media screen*/
/*and (device-width: 360px)*/
/*and (device-height: 640px)*/
/*and (-webkit-device-pixel-ratio: 3) {*/
@media only screen and (max-width: 640px){
   .Navbar-standard {
    display: none !important;
  }

}
@media only screen and (min-width: 641px) {
  .Navbar-phone {
    display: none !important;

     }
  .factionsTab {
    margin-top: -20px;

  }
}

@media only screen and (min-device-width: 1024px) {
  .Navbar-tablet {
    background-color: #999999;
    /*display: none !important;*/
  }
}
